h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 2.75em;
  font-weight: 800;
}
body {
  /*background-color: white;*/
  background: url(/images/grey.png);
}
/* Overriding bootstrap navbar */
.navbar {
  margin-bottom: 0 !important;
  border: none !important;
}
.hero {
  content: "";
  background-image: -webkit-linear-gradient(-495deg, #fdeb19, #1e71b8);
  background-image: linear-gradient(225deg, #fdeb19, #1e71b8);
  z-index: -1;
  padding-bottom: 20px;
}
#mc_embed_signup {
  background: url(/images/grey.png) !important;
}
.subscribe-form{
  margin-left: 20px;
  margin-right: 20px;
}
.hero-header p:nth-child(1) {
  font-size: 2em;
}

/* Desktop */
  .navbar-default{
    background-color: #4da6ff !important;
  }
  
  /* buttons */
  .social-btn-hm{
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .btn-wit{
    color: #4da6ff;
    background-color: white;
    border-color: #4da6ff;
  }

  /* text */
  .wit-text{
    color: #4da6ff;
    font-size: 16px;
  }

  /* images */
  .wit-logo{
    width:400px;
    height:300px;
    margin-top: 2%;
  }
  .wit-nav{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: -30px;
    height: 40px;
  }

/* iPad */
@media(max-width: 1024px){

  .wit-logo{
    width:300px;
    height:200px;
    margin-top: 20%;
  }
  .wit-nav{
    margin-top: 4%;
    margin-bottom: 1%;
    margin-left: -30px;
    height: 40px;
  }

  /* buttons */
  .social-btn-hm{
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

/* iPhone 6*/
@media (max-width: 667px) { 
  .wit-logo{
    width:250px;
    height:190px;
    margin-top: 20%;
  }
    .wit-nav{
    margin-top: 4%;
    margin-bottom: 1%;
    margin-left: -30px;
    height: 40px;
  }
  /* buttons */
  .social-btn-hm{
    margin-top: 2%;
    margin-bottom: 1%;
  }
}

