h1 {
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  background-color: white;
}

/* Desktop */
  .navbar-default{
    background-color: #4da6ff !important;
  }
  /* buttons */
  .social-btn-hm{
    margin-top: 3%;
  }
  /* images */
  .wit-logo{
    width:400px;
    height:300px;
    margin-top: 10%;
  }
  .wit-nav{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: -30px;
  }

/* iPad */
@media(max-device-width: 1024px){

  .wit-logo{
    width:304px;
    height:228px;
    margin-top: 20%;
  }

}

/* iPhone 6*/
@media (max-device-width: 667px) { 
  .wit-logo{
    width:304px;
    height:228px;
    margin-top: 20%;
  }

}

