<section class="hero-section" style="text-align:center">
	<div class="hero-image"></div>
	<div class="hero">
		<img href= "https://twitter.com/WIT_Notts" src="/images/logo_cropped_no_text.png" alt="WitLogo" class="wit-logo">
		<h1 class="hero-header">
			<p>WOMEN</p>
			<p>IN TECHNOLOGY</p>
		</h1>
		<h2 class="event-details-h2">
			<i>3rd November 2016 / Accelerate Nottingham</i>
		</h2>
		<div class="intro-message subscribe-form" ng-controller="subscribeCtrl">
			<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
	<!-- 		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
			</style> -->
			<div id="mc_embed_signup">
				<form action="//womenintechnotts.us14.list-manage.com/subscribe/post?u=fe917acbf27712a9c92604259&amp;id=e178f5169f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
						<label class="wit-text" for="mce-EMAIL">Subscribe to our mailing list</label>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fe917acbf27712a9c92604259_e178f5169f" tabindex="-1" value=""></div>
						<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-block btn-wit"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<section class="content-section">
	<div class="container">
		<div class="row">
			<div class="left">
				<img src="/images/wit8.PNG" class="pull-left" style="margin-top:30px">
			</div>
			<div class="right pull-right container">
				<h2>About</h2>
				<p>We are a monthly meetup for women from all area’s of technology and those with an emerging interest in technology.
				   The events range from talks to activities, and we try to keep them accesible to all levels. Don't be scared! You don't 
				   need to be a technical genius.</p>
				<p>We also support anyone wanting to do a talk. First time? We will support you every step of the way in any way we can.</p>
				<p>As we are celebrating the women in our industry, and not aiming to exclude, the event has a “Bring a Bloke” scheme,
				   meaning each female attendee can bring one male friend if they want to. This keeps a female majority at all times.</p>
				<p>Women in Tech is also on many social media sites which you can visit using the links below. Please sign up for our events on 
					the Meetup website so we know how many pizza's to buy.
				</p>
				<div class="center">
					<a href="https://twitter.com/WIT_Notts" class="btn btn-social-icon btn-twitter social-btn-hm" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-twitter']);"><span class="fa fa-twitter"></span></a>
					<a href="https://www.facebook.com/WITNottingham/" class="btn btn-social-icon btn-facebook social-btn-hm" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);"><span class="fa fa-facebook"></span></a>
					<a href="https://www.linkedin.com/company/women-in-tech-nottingham?trk=company_logo" class="btn btn-social-icon btn-linkedin social-btn-hm" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-linkedin']);"><span class="fa fa-linkedin"></span></a>
					<a href="https://www.meetup.com/Women-In-Tech-Nottingham" class="btn btn-social-icon btn-pinterest social-btn-hm" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-pinterest']);"><span class="fa fa-list-alt"></span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="content-section">
	<div class="container">
		<div class="row">
			<div class="right pull-right container">
					<img src="/images/door.JPG" class="pull-left frontdoor">
			</div>
			<div class="container">
				<h2>How To Find Us</h2>
				<p> We are in the Accelerate Nottingham Building, The Poynt North, 45 Wollaton Street, Nottingham, NG1 5FW</p>
				<p> Just come in the front door. </p>
				<div class="right container mapstyle" id="map">
					<iframe src="http://mapbuildr.com/frame/r85tvf" frameborder="0" height="300" width="100%"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>